lxml
pytz
cchardet
urllib3
xlsxwriter
requests
pysftp
pdf417gen
xlrd
num2words
client
suds
suds-py3 
cffi
certifi
defusedxml
pyOpenSSL
cryptography
signxml
phonenumbers
xmlsec
dicttoxml
xmltodict
serial
qrcode
